<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Students Data Base</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Neucha" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      <img static src="{% static "images/LogoPMM.jpg" %}" arc = "Logo" class = "logo" align="bottom">
      {% block sidebar %}
      <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Главная</a></li>
          <li><a href="{% url 'students' %}">Список студентов</a></li>
          <li><a href="{% url 'grade' %}">Успеваемость</a></li>
          <li><a href="{% url 'tutor' %}">Преподавательский состав</a></li>
      </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
      </div>
    </div>
  </div>
  <footer> <div class="ft">
  <p>+7 (473) 2-208-266</p>
  <p>Г. ВОРОНЕЖ, УНИВЕРСИТЕТСКАЯ ПЛ. 1</p>
  </div></footer>
</body>
</html>
